body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../imgs/toi.jpg);
	background-size: cover;
}
.box {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%	);
	background-color: rgba(0,0,0,.8);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}
.box h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type = "text"], .box input[type = "password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #FAD859;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.5s;
}
.box input[type = "text"]:hover, .box input[type = "password"]:hover {
	width: 280px;
	border-color: #EB9532;
}
.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #D35400;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.5s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background-color:  #D35400;
}
.box label {
	color: white;
	font-size: 13px;
}