body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background: url('../imgs/eiliv-sonas-aceron-766836-unsplash.jpg');
	background-size: cover;
}
.box {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
	background-color: rgba(0,0,0,.8);
	padding: 20px;
	text-align: center;
	border-radius: 20px;
}
.box h2 {
	color: #f1f1f1;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type = "text"], .box input[type = "password"] {
	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	font-size: 15px;
	border: 2px solid #FAD859;
	padding: 15px 10px;
	width: 150px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.5s;

}
.box input[type = "text"]:hover, .box input[type = "password"]:hover {
	width: 200px;
	border: 2px solid #EB9532;

}


.box input[type = "submit" ]  {
	color: white;
	border: 0;
	background: #4267B2;
	display: block;
	margin: 20px auto;
	text-align: center;
	padding: 15px 10px;
	width: 200px;
	outline: none;
	border-radius: 5px;
	cursor: pointer;

}
.box input[type = "submit" ]:hover  {
	transition: 0.5s;
	background: #f1f1f1;
	color: #4267B2;

}
.box p {
	color: #f1f1f1;
}